<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Message</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/login.css">
</head>
<body>
  <div class="mainContainer">
    <h2><%= title %></h2>
    <p><%= message %></p>
    <a href="<%= redirectURL %>" class="btn btn-primary">Go Back</a>
  </div>
</body>
</html>
