body {
  background-image: url("/bg4.jpg");
  background-position: center;   
  background-repeat: no-repeat;  
  background-size: cover;        
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

.mainContainer{
  background-color: rgba(0, 0, 0, 0.222);
  border-color: white;
  border: 2px;
  box-shadow: 1px 1px 5px black;
  padding: 20px;
   text-align: center;
   align-items: center;

}
.mainContainer h1{
  font-family: cursive;
  letter-spacing: 1px;
}


.mainContainer input{
  margin: 20px;
  font-size: 15px;
  padding: 5px;
  padding: 8px;
  
}

.mainContainer a{
  color: white;
  text-decoration: underline;
}
.mainContainer p{
  margin: 8px;
}